<template>
    <div>
        <div class="block-one" v-bind:class="open_one == 1 ? 'slide-up' : ''"></div>
        <div class="block-two" v-bind:class="open_one == 1 ? 'slide-down' : ''">
            <p v-on:click="close()">close</p>
        </div>
        <div class="cv-container" v-bind:class="open_one == 1 ? 'zoom-out' : 'zoom-in'">
            <div v-masonry transition-duration="0.3s" item-selector=".item" class="cv-items">
                <div v-masonry-tile class="item" style=""  v-on:click="openOne()">
                <!-- block item markup -->
                    <div class="item-content"></div>
                </div>

                <div v-masonry-tile class="item" style="" v-on:click="openTwo()">
                <!-- block item markup -->
                    <div class="item-content"></div>
                </div>

                <div v-masonry-tile class="item" style="" v-on:click="openThree()">
                <!-- block item markup -->
                    <div class="item-content"></div>
                </div>

                <div v-masonry-tile class="item" style="" v-on:click="openFour()">
                <!-- block item markup -->
                    <div class="item-content"></div>
                </div>
            </div>
        </div>
    </div>
    
</template>

<script>
import { mapState, mapActions } from 'vuex'
export default {
    name: "Mansory",
    data() {
        return {
            open_one: 0,
            open_two: 0,
            open_three: 0,
            open_four: 0
        };
    },
    created: function() {
        // console.log(this)
    },
    computed: {
        ...mapState({
            counter: state => state.counter.number
        })
    },
    methods: {
        ...mapActions('counter', {
            increment: 'increment',
            decrement: 'decrement',
            reset: 'reset'
        }),
        openOne() {
            // alert('world');
            this.open_one = 1;
        },
        openTwo() {
            // alert('world');
            this.open_two = 1;
        },
        openThree() {
            // alert('world');
            this.open_three = 1;
        },
        openFour() {
            // alert('world');
            this.open_four = 1;
        },
        close() {
             this.open_one = 0;
        }
    }
};
</script>

<style scoped>
    .item { 
        background-color: black;
        width: 49%;
        /* height: 250px; */
        margin: 2px;
        padding-top: 49%;
        background-image: url('https://cdn.pixabay.com/photo/2017/01/08/21/11/wood-1963988__340.jpg');
    }
    .container {
        position: relative;
    }
    .cv-container { 
        background-color: gold;
        max-width: 500px;
        margin: auto;
        transform: scale(1, 1) rotate(45deg);
        animation: animation-zoom-in 0.5s;
        
    }
    .cv-items {
        
    }

    @media only screen and (max-width: 600px) {
         .cv-container { 
            transform: rotate(0deg);
            /* background-color: gold;
            max-width: 500px;
            margin: auto; */
        }
    }

    @media only screen and (max-width: 382px) {
        .cv-container { 
            transform: rotate(0deg);
            /* background-color: gold;
            max-width: 500px;
            margin: auto; */
        }
        .item {
            background-color: black;
            width: 99%;
            /* height: 250px; */
            margin: 2px;
            padding-top: 99%; 
        }
    }

    .item-content {
        width: 0;
        height: 0;
        background-color: tomato;
        transition: 0.25s;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .animation {
        position: fixed;
        /* top: 50%;
        left: 50%; */
        width: 700px;
        height: 700px;
        transform: rotate(45deg) translate(-50%, -50%);
    }
    .block-one {
        position: fixed;
        top: 100%;
        left: 0%;
        width: 40%;
        height: 100%;
        background-color: gold;
        transition: all 0.25s 0.3s;
    }
    .block-two {
        position: fixed;
        top: -100%;
        right: 0%;
        width: 60%;
        height: 100%;
        background-color: tomato;
        transition: all 0.25s 0.3s;
    }
    .slide-up {
        top: 0%;
    }
    .slide-down {
        top: 0%;
    }
    .zoom-out {
        /* width: 0;
        height: 0; */
        /* transform: scale(0); */
        /* max-width: 0;
        height: 0; */
        transform: scale(0, 0) rotate(45deg);
        transition: all 0.25s;
        /* animation: animation-zoom-out 0.25s; */
    }
    .zoom-in {
        /* width: 0;
        height: 0; */
        /* transform: scale(0); */
        /* max-width: 0;
        height: 0; */
        transform: scale(1, 1) rotate(45deg);
        transition: all 0.25s 0.35s;
        /* animation: animation-zoom-out 0.25s;
        animation-delay: 2s; */
    }
    @keyframes animation-zoom-out {
        from {
            transform: scale(1, 1) rotate(45deg);
        }
        to {
            transform: scale(0, 0) rotate(45deg);
        }
    }
    @keyframes animation-zoom-in {
        from {
            transform: scale(0, 0) rotate(45deg);
        }
        to {
            transform: scale(1, 1) rotate(45deg);
        }
    }
    @keyframes animation-slide-up  {
        from {
            top: 100%;
        }
        to {
            top: 0%;
        }
    }


    
</style>