<template>
	<div class="flex-container">
		<!-- <div class="spinner">
			<p>
				<div class="cube1"></div>
				<div class="cube2"></div>
				Loading...
			</p>
		</div> -->
		<div class="flex-slide home">
			<div class="flex-title flex-title-home">Home</div>
			<div class="flex-about flex-about-home">
				<p>Click here to navigate to the home section of the website</p>
			</div>
		</div>
		<div class="flex-slide about">
			<div class="flex-title">Resume</div>
			<div class="flex-about">
				<p>Click here to navigate to the About section of the website</p>
			</div>
		</div>
		<div class="flex-slide work">
			<div class="flex-title">Portfolio</div>
			<div class="flex-about">
				<p>Listing relevant snippets of work:</p>
				<ul>
					<li>First piece of work</li>
					<li>Second piece of work</li>
					<li>Third piece of work</li>
				</ul>
			</div>
		</div>
		<div class="flex-slide contact">
			<div class="flex-title">Contact</div>
			<div class="flex-about">
				<p>Use the contact form below</p>
				<form class="contact-form">
					<v-text-field
						v-model="email"
						:error-messages="emailErrors"
						label="E-mail"
						required
						@input="$v.email.$touch()"
						@blur="$v.email.$touch()"
						color="#fff"
						background-color="#fff"
					></v-text-field>
 
					<p>Comment <textarea type="text" name="comment" row="5"></textarea></p>
					<!-- <p><input type="submit" name="email" value="Send Message"></p> -->
					<a href="">haha</a>
				</form>

			</div>
		</div>
	</div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
export default {
    name: "Mansory",
    data() {
        return {
            open_one: 0,
            open_two: 0,
            open_three: 0,
            open_four: 0
        };
    },
    created: function() {
        // console.log(this)
    },
    computed: {
        ...mapState({
            counter: state => state.counter.number
        })
    },
    methods: {
        ...mapActions('counter', {
            increment: 'increment',
            decrement: 'decrement',
            reset: 'reset'
        }),
        openOne() {
            // alert('world');
            this.open_one = 1;
        },
        openTwo() {
            // alert('world');
            this.open_two = 1;
        },
        openThree() {
            // alert('world');
            this.open_three = 1;
        },
        openFour() {
            // alert('world');
            this.open_four = 1;
        },
        close() {
             this.open_one = 0;
        }
    }
};
</script>

<style scoped>
	.flex-slide:hover .flex-title {
		transform: rotate(0deg);
		top: 15%;
	}
	.flex-about {
		margin-top: 100%;
		opacity: 0;
	}
	.flex-slide:hover .flex-about {
		/* opacity: 1; */
		opacity: 1;
		margin-top: 0;
		/* animation: test 1s 1s; */
	}

	@keyframes test {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	.input-group--disabled.checkbox .input-group__input {
		color: #fff !important;
	}

	.input-group--disabled.input-group--select label {
		color: #fff !important;
	}

</style>