<template>
    <v-app id="inspire">
        <!-- <Menu/> -->
        <v-content>
                <router-view/>
        </v-content>
    </v-app>
</template>

<script>
    export default {
        name: 'App',
        components: {
            
        }
    }
</script>

<style>
    * {
        box-sizing: border-box;
    }
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
    html,body{ 
        margin:0; 
        padding:0; 
        height:100%; 
        width:100%; 
        overflow: hidden;
    }
    .application--wrap {
        background-color: white;
        justify-content: center;
        align-content: center;
    }
    @media only screen and (max-width: 382px) {
        html,body{ 
            margin:0; 
            padding:0; 
            height:100%; 
            width:100%; 
            overflow: auto;
        }
    }
    /* body {
        width: 100%; 
        height: 100%;
        
    } */
</style>
